

h1{
    color:red;
    background-color: black;
    width: 300px;
    height: 100px;
}
h2{
    color:orange;
    background-color: black;
    width: 300px;
    height: 100px;
}

p {
    color:blue;
    background-color: blueviolet;
    width: 300px;
    height: 100px;
}
p1{
    color: orange;
}